<body> 
    <div class="modificaciones-wrapper">         
        <form action="" class="form">   
        <form [formGroup]="this.formUsuarioModificar" >   
             <div class="row"> 
                          
                    <input hidden="true" matInput formControlName="ID_Usuario" [(ngModel)]="ID_Usuario" name="ID_Usuario" type="text"><br>
                 
            </div>      

            <div class="row" >                                  
                <mat-form-field appearance="fill">
                    <div class="input-group-BIG">       
                    <mat-label>USUARIO</mat-label>                    
                    <input matInput formControlName="usuario" [(ngModel)]="usuario" name="usuario" type="text"><br>
                    </div>
                </mat-form-field>                             
                
                <div *ngIf="this.formUsuarioModificar.get('usuario')?.errors && this.formUsuarioModificar.get('usuario')?.dirty">
                    <p class="colorRojo" *ngIf="this.formUsuarioModificar.get('usuario')?.hasError('required')">El campo USUARIO es obligatorio</p>
                    <p class="colorRojo" *ngIf="this.formUsuarioModificar.get('usuario')?.hasError('maxlength')">Supera la longitud de campo</p>
                    <p class="colorRojo" *ngIf="this.formUsuarioModificar.get('usuario')?.hasError('pattern')">Solo puede ingresar texto</p>                
                </div>    
            </div>
    
            <div class="row">                      
                
                    <div class="input-group">        
                    <mat-label>Nombre</mat-label>                    
                    <input matInput formControlName="nombre" [(ngModel)]="nombre" name="nombre" type="nombre"><br>
                    </div>
                
              <div *ngIf="this.formUsuarioModificar.get('nombre')?.errors && 
                            this.formUsuarioModificar.get('nombre')?.dirty">
                <p class="colorRojo" *ngIf="this.formUsuarioModificar.get('nombre')?.hasError('required')"> El campo NOMBRE es obligatorio</p>
                <p class="colorRojo" *ngIf="this.formUsuarioModificar.get('nombre')?.hasError('pattern')">Solo puede ingresar texto</p>
                <p class="colorRojo" *ngIf="this.formUsuarioModificar.get('nombre')?.hasError('maxlength')">No debe superar los 20 caracteres</p>
                </div>  
            </div>
    
            <div class="row">   
                    <div class="input-group">        
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="apellido" [(ngModel)]="apellido" name="apellido" type="apellido"><br>
                    </div>
            
                
                <div *ngIf="this.formUsuarioModificar.get('apellido')?.errors && 
                          this.formUsuarioModificar.get('apellido')?.dirty">
                    <p class="colorRojo" *ngIf="this.formUsuarioModificar.get('apellido')?.hasError('required')"> El campo APELLIDO es obligatorio</p>
                    <p class="colorRojo" *ngIf="this.formUsuarioModificar.get('apellido')?.hasError('pattern')">Solo puede ingresar texto</p>
                    <p class="colorRojo" *ngIf="this.formUsuarioModificar.get('apellido')?.hasError('maxlength')">No debe superar los 20 caracteres</p>
                </div> 
            </div>
                     
            <div class="row">                                       
                    <div class="input-group">        
                    <mat-label>Tipo Doc.</mat-label>
                    <select matNativeControl formControlName="tipoDocumento" [(ngModel)]="tipoDocumento">                        
                        <option value="DNI">DNI</option>
                        <option value="Pasaporte">Pasaporte</option>
                        <option value="Cedula">Cedula</option>
                    </select>
                    </div>
                
            </div>
            
            <div class="row">                      
                    <div class="input-group">        
                    <mat-label>Numero Documento</mat-label>
                    <input matInput formControlName="numeroDocumento" [(ngModel)]="numeroDocumento" name="numeroDocumento" type="numeroDocumento"><br>
                    </div>
                    <div *ngIf="this.formUsuarioModificar.get('numeroDocumento')?.errors && 
                                this.formUsuarioModificar.get('numeroDocumento')?.dirty">
                        <p class="colorRojo" *ngIf="this.formUsuarioModificar.get('numeroDocumento')?.hasError('required')"> El numero de documento es obligatorio</p>
                        <p class="colorRojo" *ngIf="this.formUsuarioModificar.get('numeroDocumento')?.hasError('maxlength')">Debe ingresar 8 digitos</p>
                        <p class="colorRojo" *ngIf="this.formUsuarioModificar.get('numeroDocumento')?.hasError('minlength')">Debe ingresar 8 digitos</p>
                        <p class="colorRojo" *ngIf="this.formUsuarioModificar.get('numeroDocumento')?.hasError('pattern')">Solo puede ingresar Números</p>
                    </div>           
            </div>
                
            
        <ng-template #elseBlock></ng-template>
        
        <div class="row">            
            
                <button mat-raised-button color="primary" (click)="registroModificar()">MODIFICAR</button>
                <button mat-raised-button (click)="goBack()">Volver</button>
        </div>
        </form>    
    </form>
    </div>   
</body> 
