<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="login.component.css">
      <title>Login control inventario</title>
  </head> 
    
    <body>
      <div class="login-wrapper">     
        <form action="" class="form">      
          <img src="https://i.pinimg.com/originals/25/ed/33/25ed3313c8882ee1c6171c6438aff4ba.jpg" alt="Avatar" class="avatar">
          
            <form [formGroup]="this.formLogin">            
              <div class="input-group">        
                <input type="text" formControlName="usuario" name="usuario" required>    
                <label for="usuario">USUARIO</label>
              </div>
              <div class="input-group">        
                <input type="password" formControlName="password" name="password" required >    
                <label for="loginPassword">Password</label>
            </div>        
            <input type="submit" value="Login" (click)="hacerLogin()" class="submit-btn">
            <div class="example-button-row">
              <button mat-button  (click)="hacerReset()" color="warn">¿Olvidaste la Contraseña? </button>          
            </div>
            <div class="example-button-row">
              <button mat-button  (click)="nuevoUsuario()" color="warn">Ingresar nuevo usuario</button>          
            </div>
          </form>                 
        </form>
      </div>             
    </body>
</html>  